html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
}

/* header */

header {
    width: 100%;
    height: 48px;
    cursor: pointer;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;
}

nav div {
    width: 100%;
    height: 48px;
    display: block;
    flex-direction: row;
    justify-content: flex-end;
    padding: 1em;
}

#apps {
    border: 1px;
    height: 1.5em;
    width: 1.5em;
    padding: 6px;
}

#user {
    border: 1px;
    height: 2em;
    width: 2em;
    padding: 4px;
}

#apps:hover {
    background-image: url(http://www.clker.com/cliparts/K/l/Q/3/c/0/grey-circle-white-background.svg.med.png);
    background-size: cover;
}

#user:hover {
    background-color: rgba(128, 128, 128, 0.2);
    border-radius: 50%;
    transform-box: border-box;
    background-size: 200%; 
}

a {
    text-decoration: none;
    color: rgba(0,0,0,0.87);
    padding-right: 10px;
    border: 0px;
    margin: 0px;   
}

a:hover{
    text-decoration: underline;
}

ul {
    display: inline-flex;
}

li {
   display: inline-flex;
   justify-content: baseline; 
}

#gmail {
    display: inline-flex;
    align-items: center;
}

#picasa {
    display: inline-flex;
    align-items: center;
    padding-right: 30px;
}

 /* here starts body */

main {
    display: grid;
    grid-template: auto 1fr auto;
    justify-content: center;
}


#logo {
    height: 92px;
    width: 272px;
    cursor: pointer;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px 100px 30px;
}

input#search {
    height: 34px;
    width: 437px;
    display: row;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    border-radius: 20px;
    border: 1px solid rgba(128, 128, 128, 0.2);
}

input#search:hover {

    box-shadow: rgba(216, 216, 216, 0.54);
}
span {
   padding: 20px;
}

button {
    cursor: pointer;
}

/* Footer */

footer {
    background-color: rgba(216, 216, 216, 0.54);
    height: 40px;
    width: 100%;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Medias */
@media (max-width: 400px) {
    
    input #search {
        height: 34px;
        width: 263px;
    }
}