body {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
}

header {
    width: 600px;
    height: 48px;
    cursor: pointer;
    display: inline;
}

nav div {
    width: 600px;
    height: 48px;
    display: flex;
    flex-direction: row;
}

#apps {
    border: 1px;
    height: 1.5em;
    width: 1.5em;
    padding: 6px;
}

#user {
    border: 1px;
    height: 2em;
    width: 2em;
    padding: 4px;
}

#apps:hover {
    background-image: url(http://www.clker.com/cliparts/K/l/Q/3/c/0/grey-circle-white-background.svg.med.png);
    background-size: cover;
}

#user:hover {
    background-color: rgba(128, 128, 128, 0.2);
    border-radius: 50%;
    transform-box: border-box;
    background-size: 200%;
    
}

a:hover{
    text-decoration: underline;
}

li {
   display: inline;
   text-align: center; 
}

a {
    text-decoration: none;
    color: rgba(0,0,0,0.87);
    padding: 0px 15px;
    border: 0px;
    margin: 0px;
    
}

#img {
    padding: 0px 15px 0px 0px;
}

main {
    margin: 100px;
}

#logo {
    height: 92px;
    width: 272px;
    cursor: pointer;
    padding: 3em;
    margin: 5em;
}

button {
    cursor: pointer;
}