body {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
}

header .nav {
    cursor: pointer;
}

nav img {
    height: 1.5em;
    width: 1.5em;
    padding: 8px;
}

nav img:hover{
    background-color: rgba(128, 128, 128, 0.2);
    background-size: 100px;
    transform-box: border-box;    
}

nav ul a {
    text-decoration: none;
}

nav ul a:hover{
    text-decoration: underline;
}

#logo {
    height: 92px;
    width: 272px;
    cursor: pointer;
}

button {
    cursor: pointer;
}